<%= form_with model: @product do |form| %>
    <div>
    <%= form.label :product_name %><br>
    <%= form.text_field :product_name %>
    </div>

    <div>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
    </div>

    <div>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
    </div>

    <div>
    <%= form.label :seller %><br>
    <%= form.text_field :seller %>
    </div>

    <div class="field">
    <%=form.label:category_id%><br />
    <%=form.select:category_id,Category.all.collect{|catg| [catg.category_name,catg.id]}%>
    </div>

    <div>
      <%= form.submit %>
    </div>

<% end %>